/* app.css */

.svg-icon {
    > .svg-icon-item {
        width: 48px;
        height: 48px;
        vertical-align: text-bottom;
        stroke: currentColor;
        stroke-width: 2;
    }
}

/* flex layout */

.flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-container > * {
    width: 100%;
}

@media (min-width: 35rem) {

    .flex-container > * {
        width: 100%;
    }
    .flex-container > * {
        width: calc((100% - 2rem) / 3);
    }
    
}



.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center center;
}

.bg-fixed {
    background-attachment: fixed;
}

.divider {
    background: url(/images/divider-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.text-right {
    text-align: right;
}

.divider h1 {
    font-size: 4vw;
    font-weight: 700;
    background: -webkit-gradient( 
        linear, left top, right top, 
        from(rgb(25, 76, 192)), 
        color-stop(20%, rgb(196, 26, 3)),  
        color-stop(40%, rgb(236, 190, 6)),  
        color-stop(60%, rgb(25, 76, 192)),  
        color-stop(80%, rgb(3, 116, 8)),  
        to(rgb(196, 26, 3))); 
        background-clip: text; 
        -webkit-background-clip: text;  -webkit-text-fill-color: transparent;

}

/* padding */
.py-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.px-0 {
    padding-left: 0rem;
    padding-right: 0rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}


.px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}


/* margin */

.mb-0 {
    margin-bottom: 0;
}


.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}


.mb-4 {
    margin-bottom: 1.5rem;
}


.mb-5 {
    margin-bottom: 3rem;
}


.mr-5 {
    margin-right: 3rem;
}

.mt-5 {
    margin-top: 3rem;
}
.d-inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.btn-red-gradient {
    color: #fff;
    background-image: linear-gradient(coral, orangered, firebrick, orangered);
    background-size: 100% 300%;
    background-position: 0 50%;
    /* padding: .5rem 2rem .5rem 2rem; */
    padding: .5rem 2rem;
    border: 1px coral solid;
    border-radius: 8%;
    
}

.btn-red-gradient:hover {
    background-position: 0 0;
}

.btn {
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    outline: none;
    cursor: pointer;
    padding: .5rem 1em;
    border-radius: .4em;
}

.btn:hover, .btn:focus {
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);;
}

.btn-primary {
    background-color: salmon;
    border-color:maroon;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    border-color:maroon;
    color: salmon;
}


.test-css {
    color:red; 
    font: 600 2.5rem/1.7; 
    padding:1.5rem 2rem; 
    text-align:center;  
    background-color: aqua;
}

.test-css2 {
    background-color: violet;
}