/* carousel */

.carousel {
    display: flex;
    align-items: center;
    background: white;
    justify-content: center;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 0.125);
}

.slide-track {
    display: flex;
    width: calc(250px*14);
    animation: carousel 40s linear infinite alternate;
}

.slide {
    height: 100px;
    width: 250px;
}

.slide img {
    height: 100px;
    width: 250px;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px*7));
    }
}

.category-item {
    display: block;
    position: relative;
}

.category-item-title {
    display: inline-block;
    color: black;
    background-color: white;
    font-size: .8rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: .5rem 1rem;
    transform: translate(-50%, -50%);
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgb(255 255 255 / 0) 100%);
    content: '';
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::before {
 top: 0;
 left: 0;
} 
.slider::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}
