
@media (min-width:42rem) {
    .cart-container {
        display: grid;
        gap:1em;
        grid-template-columns: auto 15rem;
    }  
}


.cart-main {
    width: 100%;
    margin: 0 auto;
    /* border: 1px dotted red; */
    & .header {
        font-weight: 600;
        color: white;
        background-color: salmon;
    }
    .table {
        display: block;
    }
    .row {
        display: block;
        padding: 0.8em 0 .4em;
    }

    .row:nth-of-type(even) {
        background-color: rgb(0 0 0 / .1);
    }

    .cell {
        padding: 2px 1rem;
        display: block;
        margin-bottom: .8em;
    }

    @media (min-width:42rem) {
        .table {
            margin: 0 0 2.2rem 0;
            width: 100%;
            box-shadow: 0 1px 3px rgb(0 0 0 / .2);
            display: table;
        }

        .row {
            display: table-row;
        }
        .cell {
            display: table-cell;
            padding: 6px 12px;
        }
    }

}

.cart-sidebar {
    border: 1px dotted goldenrod;
}

