/* common.css */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,700;1,400;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,400;0,600;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

* {
    margin: 0;
}
html {
    --main-color: #009;
    --anchor-color: #333;
    --anchor-active-color: salmon;
}

body {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    /* 1rem = 16px */
    font-size: .875rem / 1.3; 
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {
    font-size: calc(1.3rem + 1.1vw);
}

h2 {
    font-size: calc(1.2rem + .8vw);
}
p {
    /* common property for p */
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}