#contact .container {
    display: grid;
    gap:1em;
    grid-template-columns: auto 15rem;
}

.contact-main {
    & .form-container {
        width: 100%;
        margin: 0 auto;

    }

    .form {
        margin: 0;
        padding: 0;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        background-color: white;
        border: 1px solid lightgrey;
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
    }

    .input-group div {
        padding: 0;
        margin: 0;
        flex: 1;
    }

    .form-control:focus {
        border-color: antiquewhite;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgb(220 177 74 / .25);
    }

    .form-control::placeholder {
        color: gainsboro;
        opacity: 1;
    }
    border: 1px dotted red;
}

.contact-sidebar {
    border: 1px dotted goldenrod;
}