dialog {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 1rem;
   
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 50%;
}

.close {
  
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: lightgrey;
    color: #000;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 24px;
    border: grey 1px solid;
    transition: all 0.5s ease-out;
    z-index: 10;
  }
  
  .close:hover {
    background: salmon;
    border-color: salmon;
    color: #fff;
    transition: all 0.5s ease-out;
}

.detail-container {
    display: flex;
    width: 100%;
    font-size: 0.7rem;
}

.detail-container h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: 700;  
}

.detail-container p {
  margin: 0 0 20px 0;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4rem;  
}

.col-left {
    flex: 1;
    width: 100%;
}


.col-right {
    flex: 1;
    padding: 1rem 1.5rem;
    width: 100%;
}

.detail-container img {
    max-width: 100%;
    object-fit: cover;
}

.price-container {
  display: flex;
  justify-content: space-between;
}


.info-container {
  display: grid;
  gap: 1rem;
}


.info-header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.info-price {
  grid-column: 1 / 2 ;
  grid-row: 2;    
  font-size: 1rem;
  font-weight: 500;

  .price::before {
    color: var(--anchor-active-color);
    content: var(--currency-symbol);
  }
}

.info-shipping {
  grid-column: 2 / 3;
  grid-row: 2;     
  font-size: 1rem;
  font-weight: 500;   
}

.info-qty {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* pseudo class */

.qty input[type=number] {
  max-width: 2.5rem;
  height: 2rem;
  border: 1px dotted lightgoldenrodyellow;
}

.qty input:in-range {
  background-color: rgba(0, 255, 0, 0.25);
}

.qty input:out-of-range {
  background-color: rgba(255, 0, 0, 0.25);
  border: 2px solid red;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  border: 1px solid var(--active-color);
  display: inline-flex;
  border-radius: 9%;
}

.number-input button {
  outline:none;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  cursor: pointer;
  margin: 0;
  padding:0;
  font-weight: 700;
  font-size: 1.5rem;
}

.number-input button:hover {
  background-color: var(--active-color);
  color: white;
} 

.number-input input[type=number] {
  max-width: 4.5rem;
  padding: .5rem;
  border:0;
  text-align: center;
  outline:none;
}

.info-button {
  grid-column: 1 / 3;
  grid-row: 4;
}

.info-button a.btn {
  display: inline-block;
  padding: .5rem 1.2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: .3s;  
}


.info-description {
  grid-column: 1 / 3;
  grid-row: 5;            
}


.info-button a.btn-submit {
  width: 100%;
  margin-top: 5px;
  color: salmon;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid salmon;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 salmon;
  transition: .3s;
}

.info-button a.btn-submit:hover {
  color: #ffffff;
  box-shadow: inset 240px 0 0 0 salmon;
}

.info-link {
  grid-column: 1 / 3;
  grid-row: 6;            
}


@media (max-width: 45rem) {
          
  .modal-body {
      flex-wrap: wrap;
      flex-direction: row;
  }
  
  .modal-body main, .modal-body aside {
              
      flex: auto;
      width: 100%;
  }

} 
