/* hero */

.hero {
    background-color: aliceblue;
    text-shadow: rgb(0, 0, 0 / .5) 2px 2px 2px;

    background-image: url(/images/bg-banner.jpg);
    background-position: center center;
    background-size: cover;
}